
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header{
    height: 10%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 50px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo{
    height: 50px;
}

.logoWrapper{
  display: flex;
  gap: 10px;
  align-items: center;
}

input{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;

}

input:focus{
  outline: none;
}

main{
    height: 90%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-template-rows: repeat(auto-fit, 200px);
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

.russianBackground{
  background-image: url("./imgs/7323863-russland-nationalflagge-design-russland-flagge-3d-winken-hintergrund-illustration-vektor.jpg");
  background-size:     cover;             
  background-repeat:   no-repeat;
  background-position: center center; 
}

.pinkMode{
  background-color: rgb(252, 46, 197);
}

footer{
  /* border-top: 1px solid black; */
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
}


a{
  text-decoration: none;
  color: black;
}
.iconWrapper{
  display: flex;
  gap: 10px
}

.spotifyIcon{
  height: 25px;
}

.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 10px;
    height: 11rem;
    max-width: 200px;
} 

.hidden {
  display: none;
}

.likeWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top: 1px solid black;
  padding: 3px;
  width: 100%;
}

.btn{
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  background-color:azure;
  display: flex;
  align-items: center;
  
}

.btn:hover{
  cursor: pointer;
}

.btn:active{
  transform: translate(2px, 2px);
}

.button-74 {
  background-color: red;
  border: 2px solid #422800;
  border-radius: 50%;
  /* box-shadow: #422800 4px 4px 0 0; */
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 70px;
  width: 70px;
  
}

.buttondarkMode{
-webkit-box-shadow:0px 0px 26px 3px rgba(255,46,46,0.44);
-moz-box-shadow: 0px 0px 26px 3px rgba(255,46,46,0.44);
box-shadow: 0px 0px 26px 3px rgba(255,46,46,0.44);

}

.button-74:hover {
  background-color: hsl(0, 100%, 70%);
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


  .checkbox-wrapper-59 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-59 *,
  .checkbox-wrapper-59 ::after,
  .checkbox-wrapper-59 ::before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-59 .switch {
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
  }

  .checkbox-wrapper-59 .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #777, 0 0 4px #777;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;
  }

  .checkbox-wrapper-59 .slider:before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: #777;
    border-radius: 30px;
    transition: 0.2s;
  }

  .checkbox-wrapper-59 input:checked + .slider:before {
    transform: translateX(18px);
    background-color: limeGreen;
  }

  .checkbox-wrapper-59 input:checked + .slider {
    box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
  }






h1::selection{
    background-color: orange;
}
h3::selection{
    background-color: orange;
}

p::selection{
  background-color: orange;
}

a::selection{
  background-color: orange;
}



.maindarkMode{
  background-color: rgb(18, 18, 18);
  color: white;
}
.headerdarkMode{
  background-color: rgb(31, 31, 31);
  color: white;
}
.footerdarkMode{
  background-color: rgb(31, 31, 31);
  color: white;
}
.tiledarkMode{
  background-color: rgb(31, 31, 31);
  color: white;
  border: 1px solid white;
}
.linkdarkMode{
  color: white;
}

.inputdarkMode{
  background-color: rgb(31, 31, 31);
  border: 1px solid white;
  color: white;
}

@media (max-width: 768px) {
  
  input{
    width: 40%;
    margin-right: 50px;
  }
  
  .button-74 {
    height: 70px;
    width: 70px;
  }
.tile{
  height: 13rem;
}
.likes{
  font-size: medium;
}
  *{
    font-size: small;
  }
  h1{
    font-size: medium;
  }
}